# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

build/debug
build/release
.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts
*.d.ts
*.d.ts.map
/build/app/package-lock.json
/package-lock.json
yarn.lock
/build/app/dist/
/assets/image/loading.gif
/release/app/dist/
/release/app/yarn.lock
/release/app/package-lock.json
/release/build-linux/
/release/build-mac/
/release/build/
/release/app/flac-bindings/*
/release/app/build/*
