.header_baby {
    display: flex;
    -webkit-app-region: drag;
    justify-content: flex-end;
}

.anima_tada {
    -webkit-animation: anima_tada 2s infinite;
    padding-right: 20px;
    padding-top: 5px;
    -webkit-app-region: no-drag;
}

.anima_tada::-webkit-scrollbar {
    display: none;
}

@-webkit-keyframes anima_tada {
    0% {
        -webkit-transform: scale(1);
    }
    5%, 10% {
        -webkit-transform: scale(.8) rotate(-5deg);
    }
    15%, 25%, 35%, 45% {
        -webkit-transform: scale(1.1) rotate(3deg);
    }
    20%, 30%, 40% {
        -webkit-transform: scale(1.1) rotate(-3deg);
    }
    50%, 100% {
        -webkit-transform: scale(1);
    }
}
