@import '~antd/dist/antd.css';

.homeContainer {
    width: 100%;
    height: calc(100% - 80px);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
}
