@import '~antd/dist/antd.css';

.homeContainer {
    width: 100%;
    height: calc(100% - 80px);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
}

.btnPlay {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 185px;
    right: 30px;
}

.version {
    margin: 0;
    position: absolute;
    bottom: 160px;
    right: 13px;
    color: white;
}

.clearDialog {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
