@import '~antd/dist/antd.css';
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
}

.musicGalleryContainer {
    width: 85%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    padding-bottom: 12vh;
}

.musicGalleryList {
    display: flex;
    flex-direction: column;
}

.music_detail_modal_in {
    -webkit-animation: music_detail_modal_in 0.3s;
}

.music_detail_modal_out {
    -webkit-animation: music_detail_modal_out 0.3s forwards;
}

@-webkit-keyframes music_detail_modal_in {
    0% {
        -webkit-transform: translateY(100%);
        opacity: 0;
    }
}

@-webkit-keyframes music_detail_modal_out {
    0% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(100%);
        opacity: 0;
    }
}

.blackArea {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0;
    width: 100%;
    height: 100%;
}

.gauss {
    filter: blur(35px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
